#block_hide{ style: 'display: none;' }    
  ="#{'/import_process/' + @import.id.to_s}"
  

=render 'import_details'

= form_for @import, url: import_path(@import), html: { multipart: true } do |form|
  = form.submit 'Start Import', id: 'submit'
  
  
=render 'import_actions'    
    
    
:javascript 
  
  $("#submit").on("click",function(){
    window.open(document.getElementById("block_hide").textContent,'_blank');
  });  
