=render 'import_details'
  
  
=render 'import_actions'    


%h3
  Progress:
  =@percentage 
  percentages 

    
    
- unless @import.import_status == 'completed'
  :javascript   
    setTimeout(function(){
      window.location.reload(1);
    }, 250);
    
- else   
  :javascript 
    window.close();
